<form (ngSubmit)="onSubmit()" #nameForm="ngForm">

<div class ="form-group">
<label for ="number"> Student Number </label>
<input type="text"
id="number"
name="number"
ngModel
class="form-control">
</div>

<div class ="form-group">
<label for ="fname"> First name </label>
<input type="text"
id="fname"
name="fname"
ngModel
class="form-control">
</div>

<div class ="form-group">
<label for ="lname"> Last name </label>
<input type="text"
id="lname"
name="lname"
ngModel
class="form-control">
</div>

<div class ="form-group">
<label for ="program"> Student Program </label>
<input type="text"
id="program"
name="program"
ngModel
class="form-control">
</div>

<div class ="form-group">
<label for ="year"> Year </label>
<input type="text"
id="year"
name="year"
ngModel
class="form-control">
</div>

<button type="Submit" class="btn btn-primary">Submit
</button>